@using PersEmails.Application.Emails
@{
    ViewData["Title"] = "Add email";
}
@model EmailDataViewModel


<h2>Add new email for @Html.DisplayFor(model => model.Person.Name) @Html.DisplayFor(model => model.Person.Surname)</h2>

<form asp-controller="Emails" method="post">

    <input type="hidden" asp-for="Email.PersonId" /><br />

    <label asp-for="Email.EmailAddress">Enter your email address:</label>
    <br />
    <span asp-validation-for="Email.EmailAddress" style="color: red;"></span>
    <br />
    <input type="email" asp-for="Email.EmailAddress" size="50" maxlength="50" />
    <br />
    <br />

    <button type="submit" formaction="SaveEmail"> Save email </button>
    <button type="button" onclick="history.back()"> Cancel </button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
