@using PersEmails.Application.Emails.Queries;
@{
    ViewData["Title"] = "List of emails";
}
@model IList<EmailWithNamesDto>

<h2>All emails</h2>

<p>Under construction</p>

<table>
    <tr style="background-color:lightgray">
        <th> email </th>
        <th> /&nbsp;name </th>
        <th> /&nbsp;surname </th>

        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(i => item.EmailAddress) </td>
            <td style="background-color:whitesmoke"> @Html.DisplayFor(i => item.Name) </td>
            <td style="background-color:whitesmoke"> @Html.DisplayFor(i => item.Surname) </td>

            <td> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
        </tr>
    }

</table>
