@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowError)
{
    <p>
        <strong>Error:</strong> <code>@Model.Error</code>
    </p>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h4>Development Mode</h4>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    <br/>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
</p>
