@using PersEmails.Application.Emails;
@model IList<EmailDto>

<table>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(i => item.EmailAddress) </td>
        <td> <a asp-controller="Emails" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
    </tr>
}
</table>
