@using PersEmails.ViewModels.Persons;
@model EditPersonViewModel
@{
    ViewData["Title"] = "Add person";
}

<h2>Add new person</h2>

<form asp-controller="Persons" asp-action="SavePerson" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Name">Name:</label>
    <input class="form-control" type="text" asp-for="Name" size="50" maxlength="50" />
    <span asp-validation-for="Name" style="color: red;"></span>
    <br />
    <label asp-for="Surname">Surname:</label>
    <input class="form-control" type="text" asp-for="Surname" size="50" maxlength="50" />
    <span asp-validation-for="Surname" style="color: red;"></span>
    <br />
    <label asp-for="Description">Description:</label>
    <textarea class="form-control" asp-for="Description" cols="50" rows="10"></textarea>
    <br />

    <button class="btn btn-secondary" type="submit">Save person</button>
    <button class="btn btn-outline-secondary" type="button" onclick="history.back()">Cancel</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
