@using PersEmails.Application.Persons
@{
    ViewData["Title"] = "Edit perrson data";
}
@model PersonDto

<h2>Edit details of @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>

<p>Under construction</p>

<form method="post">

</form>