@using PersEmails.ViewModels.Persons;
@{
    ViewData["Title"] = "Edit perrson data";
}
@model EditPersonViewModel

<h2>Edit details of @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>

<form asp-controller="Persons" asp-action="SavePerson" method="post">
    
    <label asp-for="Name">Name:</label>
    <br />
    <span asp-validation-for="Name" style="color: red;"></span>
    <br />
    <input type="text" asp-for="Name" size="50" maxlength="50" />
    <br />
    <label asp-for="Surname">Surname:</label>
    <br />
    <span asp-validation-for="Surname" style="color: red;"></span>
    <br />
    <input type="text" asp-for="Surname" size="50" maxlength="50" />
    <br />
    <label asp-for="Description">Description:</label>
    <br />
    <textarea asp-for="Description" cols="50" rows="10"></textarea>
    <br />
    <input type="hidden" asp-for="Id" />
    <br />

    <button type="submit"> Save person </button>
    <button type="button" onclick="history.back()"> Cancel </button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
